/*Variables Start*/
/*Variables End*/
/* line 10, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.logo {
  border-radius: 50%;
  margin-right: 1%;
}

@media screen and (min-width: 576px) {
  /* line 20, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .none {
    display: none;
  }
}

/* line 28, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.dbody {
  position: absolute;
  z-index: 1;
  width: 100%;
}

/* line 34, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaR, .precargaR--inicial, .precargaR--primaria, .precargaR--medio, .precargaR--superior {
  width: 50%;
  height: 900px;
  background-color: #6e81b6;
  position: absolute;
  z-index: 2;
  left: 50%;
  overflow-y: hidden;
  animation: ease-in-out;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-name: precarga;
  animation-fill-mode: forwards;
}

/* line 49, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaL, .precargaL--inicial, .precargaL--primaria, .precargaL--medio, .precargaL--superior {
  width: 50%;
  height: 900px;
  background-color: #6e81b6;
  position: absolute;
  z-index: 2;
  overflow-y: hidden;
  right: 50%;
  animation: ease-in-out;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-name: precarga2;
  animation-fill-mode: forwards;
}

/* line 64, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaR--inicial {
  background-color: #ec8041;
}

/* line 69, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaL--inicial {
  background-color: #ec8041;
}

/* line 74, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaR--primaria {
  background-color: #274492;
}

/* line 78, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaL--primaria {
  background-color: #274492;
}

/* line 82, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaR--medio {
  background-color: #2f4991;
}

/* line 86, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaL--medio {
  background-color: #2f4991;
}

/* line 91, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaR--superior {
  background-color: #9b1ac2;
}

/* line 95, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.precargaL--superior {
  background-color: #9b1ac2;
}

@keyframes precarga {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

@keyframes precarga2 {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

/* line 122, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
footer {
  font-size: 11px;
  font-family: helvetica;
}

/* line 127, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
input {
  width: 32%;
}

/* line 131, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.titulo {
  font-weight: bold;
  font-family: helvetica;
  text-align: left !important;
}

/* line 137, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorwhite {
  color: white;
}

/* line 141, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorSubI {
  color: #6e81b6;
}

/* line 144, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorSubJ {
  color: #ec8041;
}

/* line 147, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorSubP {
  color: #274492;
}

/* line 150, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorSubSe {
  color: #2f4991;
}

/* line 153, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorSubS {
  color: #9b1ac2;
}

/* line 157, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorHFI {
  background-color: #6e81b6;
}

/* line 160, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorHFJ {
  background-color: #ec8041;
}

/* line 163, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorHFP {
  background-color: #274492;
}

/* line 166, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorHFSe {
  background-color: #2f4991;
}

/* line 169, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.colorHFS {
  background-color: #9b1ac2;
}

/* line 173, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.aquamarine {
  /*Color del background general*/
  background-color: #edf5fc;
}

/* line 177, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.borderwhite {
  border: solid 1px white;
}

/*FORMULARIO DE PAGINAS*/
@media (min-width: 992px) {
  /* line 186, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .divform {
    /*Contenedor del Formulario*/
    width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* line 193, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 60px 60px;
  grid-template-areas: "a d g " "b e h" "c f i";
}

/* line 203, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.forma {
  grid-area: a;
  margin-top: 5%;
}

/* line 208, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.formb {
  grid-area: b;
  margin-top: 5%;
}

/* line 214, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.formc {
  grid-area: c;
}

/* line 218, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.formd {
  grid-area: d;
  margin-top: 3%;
  height: 50%;
  width: 60%;
  margin: auto;
}

/* line 226, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.forme {
  grid-area: e;
  margin-top: 3%;
  height: 50%;
  width: 60%;
  margin: auto;
}

/* line 234, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.formf {
  grid-area: f;
  margin-top: 3%;
  height: 50%;
  width: 60%;
  margin: auto;
}

/* line 242, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.formg {
  grid-area: g;
  margin-top: 5%;
  height: 50%;
  width: 60%;
  margin: auto;
}

/* line 250, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.formh {
  grid-area: h;
  width: 70%;
  margin: auto;
}

/* line 256, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.formi {
  grid-area: i;
  height: 50%;
  width: 50%;
  margin: auto;
}

@media (max-width: 576px) {
  /* line 265, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 100px 40px 40px 40px 40px 60px 40px;
    grid-template-areas: "a " "b" "d" "e" "f" "g" "h" "i";
  }
  /* line 280, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .formd {
    grid-area: d;
    height: 80%;
    width: 60%;
    margin: auto;
  }
  /* line 286, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .forme {
    grid-area: e;
    height: 80%;
    width: 60%;
    margin: auto;
  }
  /* line 292, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .formf {
    grid-area: f;
    height: 80%;
    width: 60%;
    margin: auto;
  }
  /* line 298, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .formg {
    grid-area: g;
    height: 80%;
    width: 60%;
    margin: auto;
  }
  /* line 304, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .formi {
    grid-area: i;
    height: 80%;
    width: 60%;
    margin: auto;
  }
}

/*FORMULARIO DE PAGINAS*/
/*CCS DE NIVEL MEDIO*/
/* line 317, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.h1indexani1 {
  /*Animaciones de h1 Index/NMedio*/
  opacity: 0;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-fill-mode: forwards;
}

/* line 326, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.h1indexani2 {
  /*Animaciones de h1 Index*/
  opacity: 0;
  animation-delay: 3.5s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-fill-mode: forwards;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 345, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.contprinci {
  /*Contenedor Principal*/
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 350, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.texth2 {
  font-size: 15px;
  text-align: justify;
}

@media (min-width: 992px) {
  /* line 356, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .texth2 {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* line 363, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.texth3 {
  font-size: 20px;
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 992px) {
  /* line 369, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .texth3 {
    font-size: 18px;
  }
}

/* line 374, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.textul {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 992px) {
  /* line 381, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .textul {
    font-size: 13px;
  }
}

/*ANIMACIONES DE LAS TARJETAS INDEX*/
/* line 388, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.transition {
  transition: all 1s ease-out;
}

/* line 392, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.cardani:hover {
  transform: scale(1.3, 1.1);
}

/* line 396, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.cardheight {
  height: 20%;
}

/*ANIMACIONES DE LAS TARJETAS INDEX*/
/*CSS DE INICIAL*/
/* line 404, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.ulinicial {
  display: none;
}

@media (max-width: 576px) {
  /* line 409, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .ulinicial {
    display: inline;
  }
}

@media (max-width: 576px) {
  /* line 415, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
  .ulinicial2 {
    display: none;
  }
}

/* line 420, ../../../Desktop/Programacion/CoderCurso/Bootstrap/scss/estilos.scss */
.gradient {
  background-image: linear-gradient(#ec8041, orange);
}

/*# sourceMappingURL=estilos.css.map */